AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Left
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'true'
BinPackParameters: 'false'
BinPackArguments: 'false'
BasedOnStyle: LLVM
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: 'true'
BreakBeforeConceptDeclarations: 'true'
BreakConstructorInitializers: AfterColon
ColumnLimit: '80'
FixNamespaceComments: 'true'
IndentWidth: '4'
IndentRequires: 'false'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: Never
Standard: Cpp11
UseTab: Never
PenaltyReturnTypeOnItsOwnLine: 10000
WhitespaceSensitiveMacros: ['C_HAS_INCLUDE']
