[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/tinyxml2"]
	path = libs/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "libs/openvr"]
	path = libs/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "libs/asio"]
	path = libs/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "sample_data"]
	path = sample_data
	url = https://github.com/hbirchtree/coffeecutie-data.git
[submodule "tools/automation"]
	path = tools/automation
	url = https://github.com/hbirchtree/coffeecutie-automation-tools.git
[submodule "include/coffee/jni"]
	path = include/coffee/jni
	url = https://github.com/hbirchtree/inline-jni.git
[submodule "coffee/windowing/private/graphics/ceagl"]
	path = coffee/windowing/private/graphics/ceagl
	url = https://github.com/hbirchtree/ceagl.git
