[submodule "libs/stb"]
	path = src/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/glm"]
	path = src/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/tinyxml2"]
	path = src/libs/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "libs/asio"]
	path = src/libs/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "libs/rapidjson"]
	path = src/libs/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "sample_data"]
	path = sample_data
	url = https://github.com/hbirchtree/coffeecutie-data.git
[submodule "tools/automation"]
	path = tools/automation
	url = https://github.com/hbirchtree/coffeecutie-automation-tools.git
[submodule "include/coffee/jni"]
	path = src/coffee/application/platform/android/include/jni
	url = https://github.com/hbirchtree/inline-jni.git
[submodule "coffee/windowing/private/graphics/ceagl"]
	path = src/coffee/windowing/private/graphics/ceagl
	url = https://github.com/hbirchtree/ceagl.git
[submodule "tools/data-management/pressure-cooker/etc2comp"]
	path = tools/data-management/pressure-cooker/etc2comp
	url = https://github.com/google/etc2comp.git
[submodule "src/ext/discord/discord-rpc"]
	path = src/ext/discord/discord-rpc
	url = https://github.com/discordapp/discord-rpc.git
