#!/bin/bash

# Base directories
PROJECT_DIR="$HOME/project"
BUILD_DIR="$HOME/android-build"

# Stock SDL2 built for Android. Should have built it manually, but this is temporary.
SDL2_INCLUDE_DIR="$HOME/libs/include"
SDL2_LIBRARY_FILE="$HOME/libs/lib/armeabi-v7a/libSDL2.so"

# OpenAL, typically sourced from https://github.com/AerialX/openal-soft-android
AL_LIBRARY_FILE="$HOME/libs/lib/armeabi-v7a/libopenal.so"
AL_INCLUDE_DIR="$HOME/libs/include/"

# We are using a custom toolchain made for Android, sourced from https://github.com/taka-no-me/android-cmake
ANDROID_TOOLCHAIN_FILE="$PROJECT_DIR/cmake/Toolchains/android.toolchain.cmake"
# This is the only reasonable STL implementation that works with C++11 features. The others are dead to me.
ANDROID_STL_IMPL="gnustl_static"
# API level 19 works with all Android version past and current. Levels 20+ don't because of kernel/ABI changes
ANDROID_TARGET="19"
